<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="myController">
        <div ng-init="games =  ['Football', 'Basketball', 'Tennis','Cricket', 'Swimming']; show=false">
            <h1>Games</h1>
            <ul>
                <li ng-repeat="game in games" ng-show="show">
                    {{ game }}
                </li>
            </ul>
            <button ng-click="showGames()">Display</button>
        </div>
    </div>

    <script>
        var app = angular.module("myApp", []);
        app.controller("myController", function ($scope) {
            $scope.showGames = function () {
                $scope.show = true;
            }
        })
    </script>
</body>

</html>